.container{
    margin-bottom: 100px;
    position: absolute;
    width: 198.07px;
    height: 59px;
    left: 212px;
    top: 30px;

}
.line {
    width: 90px;
    height: 5px;
    background-image: linear-gradient(#FFBC24,#FFA132);
    border-radius: 20px;
    margin:0 auto;
}

.cat-img {
    margin-top: 100px;
}

.cat-img img {
    padding: 60px 60px;
    box-shadow: 5px 5px 10px grey;
}
